@model MoviesApplication.ViewModels.MovieViewModel

<h2>@Model.Title</h2>
<div class="lead">
    <div><strong>Leading female role: </strong>@Model.LeadingFemaleRole</div>
    <div><strong>Leading male role: </strong>@Model.LeadingMaleRole</div>
    <div><strong>Director: </strong>@Model.Director</div>
    <div><strong>Studio: </strong>@Model.Studio</div>
    <div><strong>Studio address: </strong>@Model.StudioAddress</div>
    <div><strong>Year: </strong>@Model.Year</div>
</div>
